<section>
  <app-page-title title="Gestão de alunos" />
  <div class="members-info-cards-container">
    <app-simple-info-card
      [amount]="membersInfo.registered.toString()"
      title="Alunos"
      highlightedText="cadastrados"
      color="#FF6D60"
      [icon]="registeredMembersIcon"
      id="registered"
      (cardClicked)="onSimpleCardClick($event)"
    />

    <app-simple-info-card
      [amount]="membersInfo.matriculated.toString()"
      title="Alunos"
      highlightedText="matriculados"
      color="#7DCF8A"
      [icon]="matriculatedMembersIcon"
      (cardClicked)="onSimpleCardClick($event)"
      id="matriculated"
    />

    <app-simple-info-card
      [amount]="membersInfo.inactive.toString()"
      title="Alunos"
      highlightedText="inativos"
      color="#D34E4E"
      [icon]="inactiveMembersIcon"
      (cardClicked)="onSimpleCardClick($event)"
      id="inactive"
    />
  </div>
</section>
