:host {
  display: flex;

  .side-menu-container {
    width: 270px;
    height: 100vh;
    background-color: #1C1C27;
  }

  .right-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header-bar {
    background-color: white;
    box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
    align-items: center;

    .header-left-content {
      display: flex;
      align-items: center;
      gap: 8px;

      .icon {
        color: var(--primary-color);
        font-size: 25px;
      }

      .page-title {
        color: var(--primary-color);
        font-weight: 900;
        font-size: 1.6rem;
      }
    }
  }

  .app-container {
    flex: 1;
    padding: 50px 50px 50px 50px;
  }
}

