<div class="container">
  <section class="left-section">
    <img
      src="assets/img/login-image.svg"
      alt="login-image"
      class="login-image"
    />
  </section>
  <section class="right-section">
    <div class="content-container">
      <div class="logo-header-container">
        <img src="assets/img/logo-darker.svg" alt="gym-hub-logo" />
        <h1>Bem-vindo ao <span>GymHub</span></h1>
      </div>

      <form class="form-group">
        <div class="input-container">
          <label for="username">E-mail</label>
          <input pInputText id="username" placeholder="seuemail@email.com" />
        </div>

        <div class="input-container">
          <label for="password">Senha</label>
          <input pInputText id="password" placeholder="********" />
        </div>
      </form>
      <button pButton pRipple label="Login" [loading]="false " (onClick)="login()"></button>
    </div>
  </section>
</div>
