@import "assets/themes/mytheme/theme.scss";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    padding: 0;
}

.border-helper {
  border: solid red 1px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
